@model TiendaIdeasElArca.Models.Producto
@{
    /*ViewData["Title"] = "Agregar";*/
    ViewBag.Title = "Agregar";
}

<h1>Agregar</h1>

<hr />
<form action="@Url.Action("Agregar")" method="post">

    <input type="text" name="Nombre" placeholder="Escribe el nombre del producto." class="form-control" />
    <br />
    <input type="text" name="Descripcion" placeholder="Escribe la descripcion del producto." class="form-control" />
    <br />
    <input type="text" name="Imagen" placeholder="Escribe la url de la imagen." class="form-control" />
    <br />
    <input type="text" name="Precio" placeholder="Escribe el Precio del producto." class="form-control" />
    <br />

    <input class="btn btn-success" type="submit" value="Agregar" />

</form>

<a href="@Url.Action("Index")">Cancelar</a>